@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e65b00;
}

.card-container {
    width: 500px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.left {
    background-image: url('download (3).jpg');
    background-size: cover;
    width: 50%;
    border-radius: 15px 0px 0px 15px;
    background-repeat: no-repeat;
}

.right {
    padding: 15px;
    background-color: rgb(68, 250, 68);
    width: 50%;
    border-radius: 0px 15px 15px 0px;
}

.tag {
    margin: 10px 0;
    text-transform: uppercase;
    margin-bottom: 1.3rem;
    font-family: 'Roboto', sans-serif;
}

.product-title {
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
}

.product-desc {
    line-height: 18px;
    margin-bottom: 1.3rem;
    font-family: 'Roboto', sans-serif;
}

.price {
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
}

.strike {
    display: inline;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
}

.btn {
    display: block;
    margin: 1rem auto;
    width: 90%;
    border-radius: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.4s;
}

.btn:hover {
    background-color: #e65b00;
    color: #fff;
}